<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColumnType_1</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1885948280</integer>
			<integer>1851878757</integer>
			<integer>1634493037</integer>
			<integer>1346978632</integer>
			<integer>1920233063</integer>
			<integer>1685222510</integer>
			<integer>1634890867</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>50</integer>
			<integer>250</integer>
			<integer>169</integer>
			<integer>80</integer>
			<integer>89</integer>
			<integer>80</integer>
			<integer>128</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1885948280</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_17</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1400140366</integer>
			<integer>1397648723</integer>
			<integer>1934971468</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>231</integer>
			<integer>99</integer>
			<integer>400</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1400140366</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_18</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1382248052</integer>
			<integer>1145136228</integer>
			<integer>1734700658</integer>
			<integer>1885498483</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>189</integer>
			<integer>128</integer>
			<integer>170</integer>
			<integer>60</integer>
			<integer>88</integer>
			<integer>105</integer>
			<integer>80</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_19</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1685222510</integer>
			<integer>1382248052</integer>
			<integer>1145136228</integer>
			<integer>1651535136</integer>
			<integer>1735287922</integer>
			<integer>1281453671</integer>
			<integer>1668446578</integer>
			<integer>1885498483</integer>
			<integer>1330802786</integer>
			<integer>1937207924</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>190</integer>
			<integer>128</integer>
			<integer>170</integer>
			<integer>80</integer>
			<integer>59</integer>
			<integer>87</integer>
			<integer>58</integer>
			<integer>80</integer>
			<integer>89</integer>
			<integer>80</integer>
			<integer>111</integer>
			<integer>203</integer>
			<integer>300</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_2</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1953653099</integer>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1634493037</integer>
			<integer>1685222510</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>70</integer>
			<integer>298</integer>
			<integer>187</integer>
			<integer>182</integer>
			<integer>80</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1953653099</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_20</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1668313970</integer>
			<integer>1885498483</integer>
			<integer>1668446578</integer>
			<integer>1934971468</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>131</integer>
			<integer>176</integer>
			<integer>147</integer>
			<integer>100</integer>
			<integer>138</integer>
			<integer>80</integer>
			<integer>231</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_21</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1885498483</integer>
			<integer>1734700658</integer>
			<integer>1668446578</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>120</integer>
			<integer>80</integer>
			<integer>147</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>80</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_22</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1885498483</integer>
			<integer>1884640068</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>241</integer>
			<integer>181</integer>
			<integer>100</integer>
			<integer>147</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_23</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1734700658</integer>
			<integer>1398096487</integer>
			<integer>1330802786</integer>
			<integer>1685222510</integer>
			<integer>1264941411</integer>
			<integer>1264927560</integer>
			<integer>1651535136</integer>
			<integer>1649831779</integer>
			<integer>1165521004</integer>
			<integer>1330805106</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>209</integer>
			<integer>198</integer>
			<integer>147</integer>
			<integer>159</integer>
			<integer>100</integer>
			<integer>120</integer>
			<integer>80</integer>
			<integer>50</integer>
			<integer>100</integer>
			<integer>50</integer>
			<integer>107</integer>
			<integer>63</integer>
			<integer>95</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_25</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1919186030</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1264941411</integer>
			<integer>1734700658</integer>
			<integer>1685222510</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>200</integer>
			<integer>138</integer>
			<integer>148</integer>
			<integer>147</integer>
			<integer>62</integer>
			<integer>100</integer>
			<integer>80</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_27</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1685222510</integer>
			<integer>1382248052</integer>
			<integer>1145136228</integer>
			<integer>1734700658</integer>
			<integer>1649831779</integer>
			<integer>1984129134</integer>
			<integer>1264941411</integer>
			<integer>1668246642</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>189</integer>
			<integer>128</integer>
			<integer>172</integer>
			<integer>80</integer>
			<integer>60</integer>
			<integer>126</integer>
			<integer>95</integer>
			<integer>105</integer>
			<integer>149</integer>
			<integer>109</integer>
			<integer>61</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_28</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1884640068</integer>
			<integer>1145136228</integer>
			<integer>1264941411</integer>
			<integer>1885498483</integer>
			<integer>1734700658</integer>
			<integer>1685222510</integer>
			<integer>1668246642</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>198</integer>
			<integer>161</integer>
			<integer>185</integer>
			<integer>93</integer>
			<integer>77</integer>
			<integer>134</integer>
			<integer>100</integer>
			<integer>80</integer>
			<integer>42</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1634890867</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<key>ColumnType_3</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1346978632</integer>
			<integer>1634493037</integer>
			<integer>1685222510</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>50</integer>
			<integer>253</integer>
			<integer>181</integer>
			<integer>125</integer>
			<integer>177</integer>
			<integer>108</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1851878757</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_39</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1397638994</integer>
			<integer>1851878757</integer>
			<integer>1346978632</integer>
			<integer>1634890867</integer>
			<integer>1634493037</integer>
			<integer>1685222510</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>50</integer>
			<integer>134</integer>
			<integer>159</integer>
			<integer>80</integer>
			<integer>137</integer>
			<integer>156</integer>
			<integer>80</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1937000824</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_4</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1397638994</integer>
			<integer>1851878757</integer>
			<integer>1634493037</integer>
			<integer>1346978632</integer>
			<integer>1414352975</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>59</integer>
			<integer>139</integer>
			<integer>171</integer>
			<integer>214</integer>
			<integer>80</integer>
			<integer>61</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1937000824</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_5</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1397638994</integer>
			<integer>1347636820</integer>
			<integer>1147237477</integer>
			<integer>1953721959</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>120</integer>
			<integer>60</integer>
			<integer>80</integer>
			<integer>70</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1397638994</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_6</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1397638994</integer>
			<integer>1851878757</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>56</integer>
			<integer>141</integer>
			<integer>184</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1937000824</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_7</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1634493037</integer>
			<integer>1346978632</integer>
			<integer>1147237477</integer>
			<integer>1953721959</integer>
			<integer>1685222510</integer>
			<integer>1920233063</integer>
			<integer>1984129134</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>50</integer>
			<integer>159</integer>
			<integer>136</integer>
			<integer>120</integer>
			<integer>80</integer>
			<integer>80</integer>
			<integer>70</integer>
			<integer>80</integer>
			<integer>89</integer>
			<integer>120</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1937000824</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>ColumnType_8</key>
	<dict>
		<key>COLUMNS</key>
		<array>
			<integer>1937000824</integer>
			<integer>1851878757</integer>
			<integer>1634890867</integer>
			<integer>1634493037</integer>
			<integer>1346978632</integer>
			<integer>1147237477</integer>
			<integer>1953721959</integer>
			<integer>1685222510</integer>
			<integer>1920233063</integer>
			<integer>1984129134</integer>
		</array>
		<key>COLWIDS</key>
		<array>
			<integer>50</integer>
			<integer>304</integer>
			<integer>80</integer>
			<integer>120</integer>
			<integer>80</integer>
			<integer>80</integer>
			<integer>70</integer>
			<integer>80</integer>
			<integer>89</integer>
			<integer>120</integer>
		</array>
		<key>SORTCOL</key>
		<integer>1937000824</integer>
		<key>SORTDIR</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
</dict>
</plist>
